<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 

	<display-name>TestTomcat</display-name> 
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>ServletsUser.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>ServletsUser.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>ServletsUser.AddUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>changePasswordServlet</servlet-name>
		<servlet-class>ServletsUser.changePasswordServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RequestRecoveryAccountServlet</servlet-name>
		<servlet-class>ServletsUser.RequestRecoveryAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecoveryAccountServlet</servlet-name>
		<servlet-class>ServletsUser.RecoveryAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletUserServlet</servlet-name>
		<servlet-class>ServletsUser.DeletUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActivationServlet</servlet-name>
		<servlet-class>ServletsUser.ActivationServlet</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>FollowServlet</servlet-name>
		<servlet-class>ServletsDollows.FollowServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StopFollowServlet</servlet-name>
		<servlet-class>ServletsFollows.StopFollowServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListeFollowersServlet</servlet-name>
		<servlet-class>ServletsFollows.ListeFollowersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListeFollowedServlet</servlet-name>
		<servlet-class>ServletsFollows.ListeFollowedServlet</servlet-class>
	</servlet>
	
	
	
	
	<servlet>
		<servlet-name>DeletCommentServlet</servlet-name>
		<servlet-class>ServletsPosts.DeletCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletLikeServlet</servlet-name>
		<servlet-class>ServletsPosts.DeletLikeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletPostServlet</servlet-name>
		<servlet-class>ServletsPosts.DeletPostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPostsServlet</servlet-name>
		<servlet-class>ServletsPosts.GetPostsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LikePost</servlet-name>
		<servlet-class>ServletsPosts.LikePost</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListCommentOfOneUser</servlet-name>
		<servlet-class>ServletsPosts.ListCommentOfOneUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListCommentsForOnePostServlet</servlet-name>
		<servlet-class>ServletsPosts.ListCommentsForOnePostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListLikesServlet</servlet-name>
		<servlet-class>ServletsPosts.ListLikesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListPostsByUserServlet</servlet-name>
		<servlet-class>ServletsPosts.ListPostsByUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendComment</servlet-name>
		<servlet-class>ServletsPosts.SendComment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendPost</servlet-name>
		<servlet-class>ServletsPosts.SendPost</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>DeletUserServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivationServlet</servlet-name>
		<url-pattern>/activation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changePasswordServlet</servlet-name>
		<url-pattern>/changepass</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestRecoveryAccountServlet</servlet-name>
		<url-pattern>/requestrecouveryaccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecoveryAccountServlet</servlet-name>
		<url-pattern>/recouveryaccount</url-pattern>
	</servlet-mapping>
	

	
	<servlet-mapping>
		<servlet-name>FollowServlet</servlet-name>
		<url-pattern>/follow</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>StopFollowServlet</servlet-name>
		<url-pattern>/stop</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListeFollowersServlet</servlet-name>
		<url-pattern>/listfollowers</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListeFollowedServlet</servlet-name>
		<url-pattern>/listfollowed</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet-mapping>
		<servlet-name>DeletCommentServlet</servlet-name>
		<url-pattern>/deletecomment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletLikeServlet</servlet-name>
		<url-pattern>/deletelike</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletPostServlet</servlet-name>
		<url-pattern>/deletepost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPostsServlet</servlet-name>
		<url-pattern>/getposts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LikePost</servlet-name>
		<url-pattern>/like</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListCommentOfOneUser</servlet-name>
		<url-pattern>/listcommentsuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListCommentsForOnePostServlet</servlet-name>
		<url-pattern>/listcommentspost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListLikesServlet</servlet-name>
		<url-pattern>/listlikes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListPostsByUserServlet</servlet-name>
		<url-pattern>/listposts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendComment</servlet-name>
		<url-pattern>/sendcomment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendPost</servlet-name>
		<url-pattern>/sendpost</url-pattern>
	</servlet-mapping>
	
	
</web-app>